## Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import os

In [4]:
dir_parent = os.path.dirname(os.getcwd())
dir_data = os.path.join(dir_parent, 'data/')

dir_hour12 = os.path.join(dir_data, 'hour_12/')
dir_hour23 = os.path.join(dir_data, 'hour_23/')

## Data Analysis

#### Prep Year/Month/Date/Hour to read

In [6]:
# get all file names in the dir_hour12 directory in a list
file_names = os.listdir(dir_hour12)

In [15]:
hour_12 = '12'
hour_23 = '23'

In [14]:
day_29 = '29'

In [7]:
month_10 = '10'
month_11 = '11'

In [12]:
year_2023 = '2023'

In [16]:
day   = day_29
month = month_10
year  = year_2023

hour = hour_12

In [18]:

date_str = year + '_' + month + '_' + day_29 + 'T'

In [19]:
filename_part1 = 'AQI_all_station'
filename_part_last = '_00_00Z.xlsx'

filename = filename_part1 + date_str + hour + filename_part_last

#### Read into DataFrame

In [26]:
df_231029_12 = pd.read_excel(dir_hour12 + filename, skiprows=3, sheet_name='Sheet1')

In [35]:
df_231029_12['State'] = df_231029_12['State'].fillna(method='ffill')
df_231029_12['City']  = df_231029_12['City'].fillna(method='ffill')

In [36]:
df_231029_12

,S.No.,State,City,Station Name,Current AQI value
0,1,Andhra Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",112
1,2,Andhra Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",Insufficient data available in last 24 hours.
2,3,Andhra Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",76
3,4,Andhra Pradesh,Kadapa,"Yerramukkapalli, Kadapa - APPCB",44
4,5,Andhra Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",191
...,...,...,...,...,...
517,518,West Bengal,Kolkata,"Jadavpur, Kolkata - WBPCB",184
518,519,West Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",107
519,520,West Bengal,Kolkata,"Rabindra Sarobar, Kolkata - WBPCB",162
520,521,West Bengal,Kolkata,"Victoria, Kolkata - WBPCB",189
521,522,West Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",79